<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style1.css">
<style>
    .banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('static/images/pest.jpg');
    background-size: cover;
    background-position: center;
}
</style>
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" alt=""> 
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('predict') }}">Prediction</a></li>
                    <li><a href="{{ url_for('user_query') }}">Contact Us</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                </ul>
            </div>

            {% block body %} {% endblock %}

        </div>
    </body>
</html>