*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.bc-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 60px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #819A20;
    position: absolute;
    left: 0;;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
section{
    height: 100vh;
}
.frame-3{
    background-color: #819A20;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #819A20;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #819A20;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #819A20;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #067528;
}
@media(max-width: 700px){
    .content h1{
        font-size: 25px;
        margin-top: 80px;
    }
    .content h2{
        font-size: 20px;
        margin-top: 80px;
    }
    .content p{
        margin: 20px auto;
        font-weight: 100;
        line-height: 25px;
    }
    button{
        width: 120px;
        padding: 15px 0;
        text-align: center;
        margin: 20px 10px;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid #819A20;
        background: transparent;
        color: #fff;
        position: relative;
    }
    .navbar ul li{
        display: block;
    }
    
}
.card{
    padding: 10px;
    width: 750px;
    height: 550px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.4);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.card-img-body{
    padding: 0px;
    width: 250px;
    height: 300px;
    border-radius: 0;
    overflow: hidden;
}
.card-img{
    width: 100%;
    border-radius: 0%;
    display: block;
    user-select: none;
    pointer-events: none;
}
.card-log{
    padding: 10px;
    width: 750px;
    height: 550px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.4);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #000;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #000;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.input-field{
    background: #eaeaee;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field i{
    margin-left: 15px;
    color: #999;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.btn-field button{
    flex-basis: 48%;
    background: #819A20;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.input-group{
    height: 280px;
}
.card-form{
    padding: 10px;
    width: 750px;
    height: 650px;
    color: #000;
    border-radius: 10px;
    border: 0;
    background: #fff;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.card-input-field{
    background: #eaeaee;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;

}
.card-textarea{
    width: 450px;
    height: 150px;
    background: #eaeaee;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;

}
textarea{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    resize: none;
}
.bc-2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh !important;
}
.details-box{
    width: 1300px;
    max-width: 2500px;
    height: auto;
    position: absolute;
    top: 90% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    align-items: center;
    border-radius: 10px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}